a {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: peachpuff;
  text-align: center;
}  

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.icon-image {
  width: 80px;
  margin-right: 24px;
  border-radius: 60px;
}
