a {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: peachpuff;
  text-align: center;
}  

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header-icon {
  width: 50px;
  margin-right: 8px;
  border-radius: 60px;
}

.account-information-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 45px;
  grid-gap: 45px;
  margin: 0 20px;
}

.user-account-container {
  padding: 10px 0 10px;
  border-bottom: 0.5px solid;
}


.icon-image {
  width: 80px;
  border-radius: 60px;
}

.account-information-name {
  margin: 5px 0;
}

.account-information-introduction {
  font-size: 14px;
  margin-bottom: 5px;
  text-align: start;
}

.account-edit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 18px;
  background-color: rgba(221, 218, 212, 0.933);
  width: 60px;
  height: 30px;
  border: 0.5px solid;
  cursor: pointer;
}

.user-post-title {
  margin: 20px;
}

.map-container {
  height: 500px;
  width: 100%;
}

#map {
  height: 100%;
  width: 100%;
  margin: auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

.onsen-details-header {
  margin: 20px;
}

.posted-by {
  display: flex;
  align-items: center;
  gap: 45px;
  grid-gap: 20px;
  width: fit-content;
}

.posted-by-image {
  width: 40px;
  border-radius: 60px;
}

.onsen-list {
  display: flex;
  grid-gap: 32px;
  gap: 32px;
  flex-wrap: wrap;

  height: 700px;
  overflow-y: scroll;
}

.onsen {
  background-color: peachpuff;
  width: calc(33.33333% - 21.33333px);
}

.onsen-image {
  width: 100%;
}

.onsen-body {
  padding: 20px;
}

.onsen-details-container {
  width: 700px;
}

.onsen-details-image {
  width: 700px;
}

.flat-navi {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}